/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #003069;
  background-image: linear-gradient(120deg, #003069, #ffd24f);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.subtitle {
  margin-top: 1rem;
  font-size: 20px;
  color: var(--ifm-color-primary-light);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.buttons {
  margin-right: 15px;
  margin-top: 15px;
}

